<footer class="footer">
    <div 
        class="body-content"
        >
        <p class="font-size font-flex">
            &#169;
            <span class="currentYear"></span> 
            &#10072; All Rights Reserved &#10072;
        </p>
        <div
            class="font-flex">
            <p class="font-size">
                &thinsp;Developed with
            </p>
            <img
                class="heart-icon-custom" 
                src="./images/heart-footer.svg" 
                alt="heart-icon"
            >        
            <p class="font-size">
                by&thinsp;
                <a 
                    href="#"
                    role="button"
                    class="color-font"
                    data-modal-open
                    >
                    GoIT Romania &#10072; &#8249;&#8260;&#8250; DivMasters
                </a>
            </p>
        </div> 
    </div>
    
</footer>


<!-- modal section -->

    <div 
        class="footer-modal is-hidden"
        data-modal
        >
        <div class="modal-content">
            <span 
                class="close-footer-modal"
                data-modal-close
                >
                <img
                class="close-icon-custom" 
                src="./images/close-button.svg" 
                alt="close-icon"
                >
            </span>
            <h2 class="font-title">Made by:</h2>
            <div class="content">
                <div class="group-content">
                    <div class="group-card">
                        <img
                            class="rounded-image-container rounded-image" 
                            src="./images/logo.png" 
                            alt="about christofer"
                        />
                        <div class="member-info">
                            <span class="team-name">Bogdan Nemes</span>
                            <em class="team-function ">Team leader</em>
                        </div>
                        <div class="icon-div-cards">
                            <img
                                class="icon-cards" 
                                src="./images/linkedin-footer.svg" 
                                alt="linkedin"
                            >
                            <img
                                class="icon-cards" 
                                src="./images/github-footer.svg" 
                                alt="github"
                            >
                        </div>
                    </div>
                    <div class="group-card">
                        <img
                            class="rounded-image-container rounded-image" 
                            src="./images/logo.png" 
                            alt="about christofer"
                        />
                        <div class="member-info">
                            <span class="team-name">Dan Retegan</span>
                        <em class="team-function ">Scrum master</em>
                        </div>
                        <div class="icon-div-cards">
                            <img
                                class="icon-cards" 
                                src="./images/linkedin-footer.svg" 
                                alt="linkedin"
                            >
                            <img
                                class="icon-cards" 
                                src="./images/github-footer.svg" 
                                alt="github"
                            >
                        </div>
                    </div>
                    <div class="group-card">
                        <img
                            class="rounded-image-container" 
                            src="./images/logo.png" 
                            alt="about christofer"
                        />
                        <div class="member-info">
                            <span class="team-name">Ciprian Ropcean</span>
                        <em class="team-function ">Frontend developer</em>
                        </div>
                        <div class="icon-div-cards">
                            <img
                                class="icon-cards" 
                                src="./images/linkedin-footer.svg" 
                                alt="linkedin"
                            >
                            <img
                                class="icon-cards" 
                                src="./images/github-footer.svg" 
                                alt="github"
                            >
                        </div>
                    </div>
                    <div class="group-card">
                        <img
                            class="rounded-image-container rounded-image" 
                            src="./images/logo.png" 
                            alt="about christofer"
                        />
                        <div class="member-info">
                            <span class="team-name">Andrei Rusu</span>
                        <em class="team-function ">Frontend developer</em>
                        </div>
                        <div class="icon-div-cards">
                            <img
                                class="icon-cards" 
                                src="./images/linkedin-footer.svg" 
                                alt="linkedin"
                            >
                            <img
                                class="icon-cards" 
                                src="./images/github-footer.svg" 
                                alt="github"
                            >
                        </div>
                    </div>
                    <div class="group-card">
                        <img
                            class="rounded-image-container rounded-image" 
                            src="./images/logo.png" 
                            alt="about christofer"
                        />
                        <div class="member-info">
                            <span class="team-name">Simon Khawam</span>
                        <em class="team-function ">Frontend developer</em>
                        </div>
                        <div class="icon-div-cards">
                            <img
                                class="icon-cards" 
                                src="./images/linkedin-footer.svg" 
                                alt="linkedin"
                            >
                            <img
                                class="icon-cards" 
                                src="./images/github-footer.svg" 
                                alt="github"
                            >
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>