<!-- gallery.html -->

<section class="gallery" id="gallery">
  <div class="movie-container">
    <!-- Aici vor fi afișate cardurile filmelor -->
  </div>

  <!-- Pagination -->
  <div class="center">
    <div class="pagination">
      <button type="button">&laquo;</button>
      <button type="button" class="active">1</button>
      <button type="button">2</button>
      <button type="button">3</button>
      <button type="button">4</button>
      <button type="button">5</button>
      <button type="button">6</button>
      <button type="button">7</button>
      <button type="button">8</button>
      <button type="button">9</button>
      <button type="button">10</button>
      <button type="button">11</button>
      <button type="button">12</button>
      <button type="button">13</button>
      <button type="button">14</button>
      <button type="button">15</button>
      <button type="button">16</button>
      <button type="button">17</button>
      <button type="button">18</button>
      <button type="button">19</button>
      <button type="button">20</button>
      <button type="button">&raquo;</button>
    </div>
  </div>

  <!-- Fixed scroll-up button -->
  <button type="button" class="fixedbutton" id="btn-back-to-top">
    <img
      src="./images/icons/arrow-up.png"
      srcset="./images/icons/arrow-up@2x.png 2x"
      alt="arrow up"
    />
  </button>

  <script src="./js/scroll-button.js"></script>
</section>
