<header>
  <section class="header-section">
    <div class="dark-gradient-mobile"></div>
    <img
      class="hero-image"
      src="./images/filmoteka-main-image.jpg"
      alt="Movie popcorn, 3D glasses and camera"
    />
    <div class="logo-container">
      <div class="logo-alignment">
        <img class="logo-icon" src="./images/film-icon.svg" alt="Film icon" />
        <span class="logo-text">Filmoteka</span>
      </div>
    </div>
    <div class="btn-toggle">
      <div class="btn1_container">
        <i class="fas fa-circle"></i>
      </div>
    </div>
    <div class="btn-container-1">
      <button class="btn-52" onclick="redirectToIndex()">
        <div class="original">HOME</div>
        <div class="letters">
          <!-- Place each letter in its own element -->
          <span>H</span>
          <span>O</span>
          <span>M</span>
          <span>E</span>
        </div>
      </button>
    </div>
    <div class="btn-container-2">
      <button class="btn-53">
        <div class="original">MY LIBRARY</div>
        <div class="letters">
          <!-- Place each letter in its own element -->
          <span>M</span>
          <span>Y</span>
          <span>&nbsp;</span>
          <span>L</span>
          <span>I</span>
          <span>B</span>
          <span>R</span>
          <span>A</span>
          <span>R</span>
          <span>Y</span>
        </div>
      </button>
    </div>
    <div class="search-container">
      <div class="form-container">
        <form class="search-form" id="search-form">
          <input
            class="searchInput"
            type="text"
            name="searchQuery"
            autocomplete="off"
            placeholder="Search movies..."
          />
          <button class="search-form-button" type="submit">
            <img
              class="search-icon"
              src="./images/search-icon-white.svg"
              alt="Film icon"
            />
          </button>
        </form>
        <div class="searchError"></div>
      </div>
    </div>
  </section>
</header>

<script>
  function redirectToIndex() {
    window.location.href = 'index.html';
  }
</script>
