
.footer {
    background: #F7F7F7;
  }
  
  .body-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .font-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    gap: 10px;
  }
  
  .font-size {
    color: #545454;
    text-align: center;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  .icon-flex {
    display: flex;
  }
  
  .color-font {
    color: #B92F2C;
  }
  
  /* modal */
  
  .is-hidden {
    visibility: hidden;
    transform: scale(1.1);
  }
  
  .footer-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #303030;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform var(--transition);
    pointer-events: auto;
  }
  
  .footer-modal.is-visible {
    visibility: visible;
  }
  
  .modal-content {
    padding: 16px;
    background-color: #fff;
    width: 70%;
    margin: 0 auto;
    height: 70%;
    position: relative;
    border-radius: 5px;
    align-content: center;
  }
  
  .close-footer-modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    fill: #B92F2C;
    background-color: #fff;
    padding: 2px 4px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    width: 30px;
    height: 30px;
    transition: background-color var(--transition);
  }
  
  .close-footer-modal:hover {
    border: 2px solid #B92F2C;
    background: transparent;
  }

.font-title {
    display: flex;
    justify-content: center;
    color: #000;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    line-height: 23px;
}
  
  @media screen and (min-width: 768px) {
  
    .font-flex {
        flex-direction: row;
        gap: 10px;
    }
  
    .font-size {
        color: #545454;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    }
  }
  
  @media screen and (min-width: 1280px) {
  
    .body-content {
        flex-direction: row;
      }
    
    .font-size {
        font-size: 16px;
    }
  }
  